.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    min-width: 720px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;

}

.cronometro{
    background-image: url('./assets/cronometro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 72vh;
    min-height: 72vh;
    width: 63vh;
    min-width: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;

}
.img{
    
    margin:0;
    padding: 0;

}

.timer{
    font-size: 7em;
    color: #fff;
}
.areabtn{
    display: flex;
    flex-direction: row;

}
.btn{
    display: block;
    width: 100px;  
    background-color: #fff;
    font-size: 1.5em;
    text-align: center;
    margin: 3px;
    box-shadow: 0 0 7px #000;
    border-radius: 10px;
    cursor: default ;
    transition: all 0.5s
}

.btn:hover{
    opacity: 0.7;
    color: #000;
    transition: all 0.5s;
}